.success-page {
  background-image: url("https://raw.githubusercontent.com/arifulsajib/pictures-for-projects/main/successPage/success2.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
