.notFound {
  background-image: url("https://raw.githubusercontent.com/arifulsajib/pictures-for-projects/main/notFound/notFound3.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
